.Imagens {
    width: 100%;
    height: 295px;
}

@media screen and (min-width: 1280px) and (max-width: 1920px) {

    .Container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .Imagens {
        border-radius: 1px;
        margin-top: 2%;
        width: 86%;
        height: 600px;





    }
}