.Container {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

.Titulo {
    font-size: 24px;
    padding: 2%;
}

.imagem {
    width: 100%;
    height: 410px;
}


@media screen and (min-width: 1280px) and (max-width: 1920px) {

    .imagem {
        width: 93%;
        height: 1600px;
    }





}