

 .TituloCard, .funcionamento{
    font-family: "Rubik", sans-serif;
}

.Containers{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8%;
    

}
.cardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 405px;
    padding: 6%;
    border-radius: 9px;
    background-color:  rgb(15, 15, 15);
}
.TituloCard{
 
    font-size: 24px;
    color: #fb6a31;
    text-align: center;
}

.funcionamento{
    font-size: 17px;
    color: #fff;
    text-align: center;
    padding: 5%;
}

iframe{
    width: 300px;
    height: 250px;
}

@media screen and (min-width: 1280px) and (max-width: 1920px){
    .Container{
       display: flex;
        margin-top: 1%;
     
     
    }

    .Containers{
       
        margin: 2%;
        margin-top: 2%;
        
    
    }

    .cardContainer{
      
        width: 30%;
        height: 485px;
       
    }

    iframe{
        width: 300px;
        height: 800px;
    }
 
    
   
}