.Container {
  width: 100%;
  height: 150px;
  background-color: rgb(15, 15, 15);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 6%;
  padding: 5%;
}

.Logotipo {
  width: 93%;
}

.Links {
  color: #fb6a31;
  text-decoration: none;
}

.ContainerInput {
  display: flex;
  flex-wrap: nowrap;
}

input {
  width: 190px;
  height: 30px;
  outline: none;
}

.btnPesquisa {
  cursor: pointer;
  width: 16%;
  height: 30px;
  background-color: #fb6a31;
  outline: none;
  border: none;
}

.iconePesquisa {
  font-size: 12.5px;
  color: #fff;
}

.MenuMobile {
  display: none;

}

.CarrinhoCompra {
  cursor: pointer;
  font-size: 120px;
  color: #fb6a31;
}

.circulo {
  cursor: pointer;
    position: absolute;
  right: 11.7%;
  top: 9.2%;
  width: 5%;
  height: 18px;
  border-radius: 80px;
  background-color: #fb6a31;
  color: #fFF;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .MenuMobile {
    display: block;
    cursor: pointer;
    font-size: 120px;
    color: #fb6a31;
  }

  .Links {
    display: none;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1920px){
 
 
  .Container {
 
    height: 175px;
  
  }
 
 
  .nav {
  
    gap: 2%;
    padding: 0.5%;
  }

  
.Links {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
}

.Links:hover {
  color: #fFF;
  border-bottom: 2px solid #fb6a31;
  transition: 450ms ease-in-out;
}
  
  .Logotipo {
    width: 22%;
    margin-left: 9%;
  }

  input {
    width: 425px;
    height: 35px;
   
  }

  .btnPesquisa {

    height: 35px;

  }
  
  .iconePesquisa {
    font-size: 14.5px;
    
  }

  .CarrinhoCompra {
  
    font-size: 35px;
    margin-right: 5%;
  }


  .circulo {
  

    right: 4.4%;
    top: 9.2%;
    width: 30px;
    height: 30px;
    border-radius: 89px;
   
  
  }


}